<div class="row">
    <table>
        <tr *ngFor = "let data of newfood">
            <td><p><span class="nonveg" *ngIf="data.vegflag == 'veg'">
                <img src="assets/images/veg.png" height="5px" width="5px"> 
            </span>
                <span class="veg" *ngIf="data.vegflag == 'nonveg'">
                    <img src="assets/images/red.png" height="5px" width="5px">


                </span>
                {{data.name}}</p>
            </td>
            <td> </td>
            <td><p>{{data.price}}</p></td>
        </tr>
    </table>
</div>