<div class="container">
  <div class="row col-12">
    <div class="col-3">
      <ul>
        <li><a routerLink="all-food">All Food</a></li>
        <li> <a routerLink="chinese-combo">Chinese Combo</a>
        </li>
        <li><a routerLink="chinese-starter">Chinese Starter</a></li>
        <li> <a routerLink="salads">Salads</a>
        </li>
        <li> <a routerLink="oriental">Oriental</a>
        </li>
      </ul>

    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3"><app-cart></app-cart></div>

  </div>
</div>